@import "./reset.scss";
@import "./variables/global.scss";

@import "./themes/dark.scss";
@import "./themes/light.scss";

html,
body {
    height: 100%;
}

.app {
    padding: 20px 30px 50px 30px;
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 300px auto;
    height: 100vh;
}