@import "./reset.scss";
@import "./variables/global.scss";

@import "./themes/dark.scss";
@import "./themes/light.scss";

html,
body {
    height: 100%;
}

.app {
    box-sizing: border-box;
    height: 100vh;
    padding: 20px 30px 50px 30px;
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--color-primary-200);
}

.scada-container {
    display: grid;
    grid-template-columns: 300px auto;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

