@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-family-main: Mulish, "Arial", sans-serif;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;

    --font-line-m: 24px;
    --font-line-l: 28px;
    --font-line-xl: 32px;

    --schemeSidebar-width: 350px;
    --schemeSidebar-width-collapsed: 80px;
}