.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textObject {
    text-align: center;
    font-weight: 600;
}

.ValveParameters {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.values {
    display: flex;
    gap: 5px;
    align-items: center;
}

.unitValue {
    background: var(--color-primary-600);
    border-radius: 5px;
    padding: 3.7px 10px;
    font-weight: 600;
}


.param {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paramBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paramInfoText {
    display: flex;
    align-items: center;
    gap: 5px
}

.paramValue {
    display: flex;
    align-items: center;
    gap: 5px
}

.paramUnit {
    background: var(--color-accent-800);
    border-radius: 5px;
    padding: 3.7px 10px;
    font-weight: 600;
    color: var(--bg-color)
}

.textSecond {
    font-weight: 800;
    font-size: 16px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}


