.Sidebar {
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputMenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textSCADA {
    font-weight: 600;
}

.AddObjectMenu {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.addObject {
    display: inline;
    // display: flex;
    text-align: center;
    // justify-content: space-between;
    // align-items: center;
    background: var(--color-primary-400);
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.textCard {
    font-size: 12px;
}
