.Sidebar {
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputMenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.scadaBlock {
    display: flex;
    gap: 10px;

}

.textBack {
    cursor: pointer;
    font-weight: 600;
}

.textBack:hover {
    color: var(--color-accent-600);
    transition: color 0.2s;

}

.textSCADA {
    font-weight: 600;
}

.AddObjectMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AddObjectMenuItem {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.addObject {
    display: inline;
    text-align: center;
    background: var(--color-primary-400);
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.textCard {
    font-size: 12px;
}

.modal {
    display: flex;
    gap: 10px
}
