.app.dark {
    --bg-color: #1a1a1a;

    --color-primary-200: #d3d0d0;
    --color-primary-400: #787777;
    --color-primary-500: #3a3939;
    --color-primary-600: #282828;
    --color-primary-800: #181717;
    --color-primary-900: #282828;

    --color-accent-200: #a5ccee;
    --color-accent-400: #a5ccee;
    --color-accent-600: #77b4e9;
    --color-accent-800: #66adec;  

    // neutral
    // feedback (error, warning, success)
}

