.app.light {
    --bg-color: #f5f8fb;

    --color-primary-200: #323f4a;
    --color-primary-400: #8e989a;
    --color-primary-500: rgb(211, 211, 211);
    --color-primary-600: #e5e9e9;
    --color-primary-800: #dbe9ec;
    --color-primary-900: #edf0f1;

    --color-accent-200: #f1beae;
    --color-accent-400: #f1beae;
    --color-accent-600: #f57950;
    --color-accent-800: #ff642f;
    // neutral
    // feedback (error, warning, success)
}   