.ObjectMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.objectCountMenu {
    display: flex;
    justify-content: space-between;
}

.object {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.objectLink {
    padding: 5px 20px;
    transition: background-color 0.25s;
}

.objectLink:hover {
    background: var(--color-primary-600);
    padding: 5px 20px;
    border-radius: 5px;
}

.objectLinkActive {
    background: var(--color-primary-900);
    padding: 5px 20px;
    border-radius: 5px;
}

.objectLinkItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.objectName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.objectText {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary-400);
}

