.ObjectMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.objectCountMenu {
    display: flex;
    justify-content: space-between;
}

.object {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    height: 380px;
    /* -- scroll -- */
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.objectLink {
    padding: 5px 20px;
    transition: background-color 0.25s;
    border-radius: 5px;
}

.objectLink:hover {
    background: var(--color-primary-900);
}

.objectLinkActive {
    background: var(--color-primary-900);
}

.objectLinkItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.objectName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.objectText {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary-400);
}

div[title]::after {
    content: attr(data-title);
    /* Выводим текст из атрибута data-title */
    position: absolute;
    /* Абсолютное позиционирование */
    left: 0;
    top: 1em;
    /* Положение подсказки */
    transition: 0.5s;
    opacity: 0;
    /* Скрываем подсказку, делая её прозрачной */
}

div[title]:hover::after {
    opacity: 1;
    /* Показываем подсказку */
}