.FacilityPage {
    margin-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schemePage {
    box-sizing: border-box, ;
    height: 100%;
    display: flex;
    gap: 50px;
    position: relative;
}

.scheme {
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.clapan {
    position: absolute;
    cursor: pointer;
    width: 55px;
    height: 40px;
    // background: red;
    opacity: 0.5;
}


.mainText {
    font-weight: 700;
}

// .clapan:hover {
//     opacity: 0.5;
// }

[data-title]::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 1em;
    transition: 0.5s;
    opacity: 0;
}

[data-title]:hover::after {
    opacity: 1;
}