.AccountMenu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.account {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--dark-color);
    border-radius: 100%;
    cursor: pointer;
    padding: 8px;
}

.account:hover {
    height: 32px;
    width: 32px;
    background: rgb(70, 70, 70);
    border-radius: 100%;
    transition: background-color 0.2s;
    cursor: pointer;
}

.accountText {
    font-size: 12px;
    font-weight: 300;
}