.AccountMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.account {
    padding: 8px;
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--color-primary-900);
    border-radius: 100%;
    cursor: pointer;
}

.account:hover {
    background: var(--color-primary-600);
    transition: background-color 0.2s;
}

.accountText {
    font-size: 12px;
    font-weight: 300;
}