.AccountMenu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--dark-color);
    padding: 8px 10px 8px 15px;
    border-radius: 40px;
}

.accountText {
    font-size: 12px;
    font-weight: 300;
}