.AppLink {
    padding: 0 2px 4px 2px;
    color: var(--color-primary-400);
    transition: color 0.25s;
    cursor: pointer;
}

.AppLinkActive {
    border-bottom: 1.5px solid var(--color-accent-800);
    color: var(--color-primary-200);
}

.AppLink:hover {
    color: var(--color-primary-200);
}
