    
.FacilityParameters {
    display: flex;
    // flex-direction: column;
}

.parameters {
    padding: 3px 5px;
    background: var(--color-primary-600);
    border-radius: 5px;
}

.parameterInfo {
    font-size: 12px;
}

.parameterText {
    font-weight: 700;
    color: var(--color-accent-800)
}
